MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me

MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1
MINIO_BUCKET=warehouse

ICEBERG_REST_URI=http://rest:8181
ICEBERG_WAREHOUSE=s3://warehouse/

ICEBERG_CATALOG=demo

TRINO_PORT=8082
TRINO_USER=admin